{% extends "pizza/layout.html" %}

{% block title %}
    Pizza Time!
{% endblock %}

{% block body %}
    <h1 id="pizza-time">Pizza Time!</h1>
    <p id="description">
        Hello and welcome to Pizza Time! This is a website for a fake
        restaurant. We first opened our imaginary doors in 2023! Check
        out the menu and place a fake order. If you think you'll be
        returning some time in the future for more fake food then sign
        up for an account. It's free to do and you can track all your
        fake order history, save or update payment methods, and reorder
        your favorite items.
        <br>
        <br>
        The founder of Pizza Time is Jacob Lunsford. He wanted to come
        up with a way to combine two of his favorite past times, coding
        and eating. If you like what you see or even if you don't feel
        free to reach out to him using the links at the bottom of the
        page.
        <br>
        <br> 
        Thanks for stopping by and hope to see you again soon!
    </p>
{% endblock %}