{% extends "pizza/layout.html" %}
{% load static %}

{% block title %}
    The Menu
{% endblock %}

{% block body %}
    <h1 id="pizza-time">The Menu</h1>
    <div id="menu">
        {% for pizza in menu.pizzas %}
        <div class="menu-item">
            <div class="menu-left">
                <img class="menu-pic" src="static/pizza/images/{{pizza.pic}}" alt="">
            </div>
            <div class="menu-right">
                <p class="menu-title">{{ pizza.title }} Pizza</p>
                <p class="menu-description">{{ pizza.description }}</p>
                <select id="size-pizza-{{pizza.id}}">
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                </select>
                <select id="quantity-pizza-{{pizza.id}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                {% if pizza.title == "Build Your Own"%}
                <button id="build">Build</button>
                {% endif %}
                <button class="add" id="add-pizza-{{pizza.id}}" onclick='addToOrder("pizza","{{pizza.id}}")'>Add</button>
            </div>
        </div>
        {% endfor %}
        {% for salad in menu.salads %}
        <div class="menu-item">
            <div class="menu-left">
                <img class="menu-pic" src="static/pizza/images/{{salad.pic}}" alt="">
            </div>
            <div class="menu-right">
                <p class="menu-title">{{ salad.title }} Salad</p>
                <p class="menu-description">{{ salad.description }}</p>
                <select name="size-salad-{{salad.id}}">
                    <option value="Small">Small</option>
                    <option value="Large">Large</option>
                </select>
                <select name="quantity-salad-{{salad.id}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button class="add" id="add-salad-{{salad.id}}" onclick='addToOrder("salad","{{salad.id}}")'>Add</button>
            </div>
        </div>
        {% endfor %}
        {% for icecream in menu.icecreams %}
        <div class="menu-item">
            <div class="menu-left">
                <img class="menu-pic" src="static/pizza/images/{{icecream.pic}}" alt="">
            </div>
            <div class="menu-right">
                <p class="menu-title">{{ icecream.title }}</p>
                <p class="menu-description">{{ icecream.description }}</p>
                <select name="flavor-icecream-{{icecream.id}}">
                    <option value="Vanilla">Vanilla</option>
                    <option value="Chocolate">Chocolate</option>
                    <option value="Strawberry">Strawberry</option>
                </select>
                <select name="quantity-icecream-{{icecream.id}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button class="add" id="add-icecream-{{icecream.id}}" onclick='addToOrder("icecream","{{icecream.id}}")'>Add</button>
            </div>
        </div>
        {% endfor %}
        {% for cookie in menu.cookies %}
        <div class="menu-item">
            <div class="menu-left">
                <img class="menu-pic" src="static/pizza/images/{{cookie.pic}}" alt="">
            </div>
            <div class="menu-right">
                <p class="menu-title">{{ cookie.title }} Cookie</p>
                <p class="menu-description">{{ cookie.description }}</p>
                <select name="quantity-{{cookie.id}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button class="add" id="add-cookie-{{cookie.id}}" onclick='addToOrder("cookie","{{cookie.id}}")'>Add</button>
            </div>
        </div>
        {% endfor %}
        {% for beverage in menu.beverages %}
        <div class="menu-item">
            <div class="menu-left">
                <img class="menu-pic" src="static/pizza/images/{{beverage.pic}}" alt="">
            </div>
            <div class="menu-right">
                <p class="menu-title">{{ beverage.title }}</p>
                <p class="menu-description">{{ beverage.description }}</p>
                <select name="flavor-{{beverage.id}}">
                    <option value="Individual">Individual</option>
                    <option value="2L">2 Liter</option>
                </select>
                <select name="quantity-{{beverage.id}}">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
                <button class="add" id="add-{{beverage.id}}" onclick='addToOrder("beverage","{{beverage.id}}")'>Add</button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'pizza/index.js' %}"></script>
{% endblock %}