/* the following pertains to the layout page */
h1 {
    color: green;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: brown;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 10px 5px;
}

nav > div > a {
    color: bisque;
    font-size: 20px;
}

#left-link {
    margin-right: 10px;
}

main {
    padding: 20px 0px;
}

#middle {
    height: 100%;
    width: 80%;
    margin: auto;
    background-color: bisque;
    padding: 5px 15px;
}

#pizza-time {
    text-align: center;
}

footer {
    display: table;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    color: bisque;
}

footer > a {
    display: block;
}

/* the following pertains to the index page */
#description {
    text-align: justify;
}

/* the following pertains to the menu page */
.menu-item {
    width: 80%;
    height: 125px;
    display: flex;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}

.menu-left {
    height: 100%;
    width: 125px;
    margin-right: 10px;
}

.menu-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: green;
}

.menu-description {
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2;
   -webkit-box-orient: vertical;
}

#build,
.add {
    border: solid 1px;
    border-radius: 2px;
    padding: 2px 5px;
}